@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f8f9fa;
  font-family: "Roboto", sans-serif;
  font-style: normal;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

img {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
}

.header {
  background-color: red;
}

.footer {
  background-color: #343a40;
}

.header__container,
.main__container,
.footer__container {
  padding: 1rem;
  max-width: 72rem;
  margin: auto;
}

.main__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__container {
  text-align: center;
}

.pokemon-card {
  background-color: #6c757d;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;

  .pokemon-img {
    width: 180px;
    height: 180px;
  }
}
